.carousel-container {
    background-color: aliceblue;
    width: 90%;
    padding-bottom: 2em;
    overflow: hidden;
    margin: 1em auto;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    --slide-count: 6;
    --slides-per-page: 3;
    --slide-margin: 20px;
    --slide-padding: 10px;
    --slide-width: calc( (100% / (var(--slide-count) * var(--slides-per-page)) - calc(2 * var(--slide-margin))));
}

.carousel {
    width: calc(100% * var(--slide-count));
    transition: 0.75s ease-in-out;
}

.carousel article {
    width: var(--slide-width);
    float: left;
    background-color: white;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 var(--slide-margin);
    padding: 0 var(--slide-padding);
    border-radius: 20px;
    border: 0;
    text-align: center;
    scroll-snap-align: start;
    opacity: 0.5;
}

.carousel cite {
    color: #01b0f8;
    font-size: 1.4em;
    line-height: 1.3;
}

.carousel p {
    font-size: 1.1em;
    color: #555;
    padding-bottom: .9em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    /* text-overflow: ellipsis; */
}

.carousel p::before {
    content: '" ';
}

.carousel p::after {
    content: ' "';
}

.carousel-container #buttons {
    text-align: center;
}

.carousel-container [type="radio"] {
    position: absolute;
    left: -999em;
}

#r1:checked~#buttons label:nth-of-type(1),
#r2:checked~#buttons label:nth-of-type(2),
#r3:checked~#buttons label:nth-of-type(3),
#r4:checked~#buttons label:nth-of-type(4),
#r5:checked~#buttons label:nth-of-type(5),
#r6:checked~#buttons label:nth-of-type(6) {
    background-color: #01b0f8;
}

#r1:checked~.carousel>article:nth-of-type(1),
#r2:checked~.carousel>article:nth-of-type(2),
#r3:checked~.carousel>article:nth-of-type(3),
#r4:checked~.carousel>article:nth-of-type(4),
#r5:checked~.carousel>article:nth-of-type(5),
#r6:checked~.carousel>article:nth-of-type(6) {
    opacity: 1;
}

#r1:checked~.carousel {
    margin-left: 0;
}

#r2:checked~.carousel {
    margin-left: calc( 0 -var(--slide-margin));
}

#r3:checked~.carousel {
    margin-left: -33.5%;
}

#r4:checked~.carousel {
    margin-left: -67%;
}

#r5:checked~.carousel {
    margin-left: -100.5%;
}

#r6:checked~.carousel {
    margin-left: -134%;
}

.carousel-container #buttons label {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    border: 2px solid #01b0f8;
    border-radius: 50%;
    margin-top: 1em;
}

.carousel article footer {
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 7em;
}